<%- include('./comunes/cabecera') %>
<div style="height: 600px;
    /*width: 90%;*/
    background-image: url('https://ubunlog.com/wp-content/uploads/2020/04/about-nodejs-1024x469.png.webp');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
justify-content: center;
box-sizing: border-box;  ">

</div>

<%- include('./comunes/footer') %>

